
<p><a href="/">Home</a></p>

<h1>Posts</h1>

<br><br>
<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p>by <%= post.author %></p><br>
  <p><%= post.content %></p>
<% end %>

<br><br>
<% if !logged_in? %>
  <p><a href="/login">Log In</a></p>
<% else %>
  <p><a href="/logout">Log Out</a></p>
  <% end %>

